#root {
  width: 1280px;
  height: 80vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App{
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
}

.options-container{
  background-color: rgb(233, 233, 233);
  /* width: 800px; */
  border-radius: 10px;
  display: flex;
  padding: 6px 10px;
}
.options-container button{
  margin: 4px 10px;
}
.inputs-container{
  display: grid;
  margin-left: 10px;
}
.inputs-container button{
  padding: 4px 10px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

