#root {
  width: 1280px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}
.App{
  width: 100%;
  place-items: center;
  position: relative;
}
.comandPanel-position{
  display: grid;
  place-items: center;
}
.span-comandPanel-container{
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 20px;
}

.options-container{
  position: relative;
  max-width: 700px;
  background-color: rgb(233, 233, 233);
  display: flex;
  border-radius: 10px;
  padding: 6px 10px;
}
.down-button{
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: gray;
  padding: 4px 10px;
}
.options-container button{
  margin: 4px 10px;
}
.inputs-container{
  display: grid;
  /* margin-left: 10px; */
  margin-top: 10px;
}
.inputs-container input{
  width: 200px;
  padding: 4px 2px;
}
.inputs-container button{
  margin-top: 16px;
  padding: 4px 10px;
}

.material-options-container{
  display: flex;
}
.material-options-container button{
  padding: 4px 10px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
@media (max-width: 600px){
  .options-container{
    display: grid;
    bottom: 40px;  
    /* left: 30px;
    right: 30px; */
  }
  .options-container input{
    margin-left: 22px;
  }
  /* .inputs-container{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
  } */
}

