#root {
  width: 1280px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}
.App{
  width: 100%;
  place-items: center;
  position: relative;
  overflow-y: hidden;
	 overflow-x: scroll;
}
.comandPanel-position{
  display: grid;
  place-items: center;
  transition: transform 1.6s linear;
  transform: translateY(0);
}
.comandPanel-position--down {
  display: grid;
  place-items: center;
  transition: transform 2s ease-in-out;
  transform: translateY(400px);
}

.span-comandPanel-container{
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 0px;
}
.openPanel-container{
  display: grid;
  place-items: center;
  transition: transform 3s ease-in-out;
  transform: translateY(0);
}
.openPanel-button{
  position: absolute;
  margin-bottom: 70px;
}
.openPanel-container--down{
  display: grid;
  place-items: center;
  transition: transform 0.6s ease-in-out;
  transform: translateY(60px);
}

.options-container{
  position: relative;
  max-width: 720px;
  background-color: rgb(233, 233, 233);
  display: flex;
  border-radius: 10px;
  padding: 6px 10px;
}
.down-button{
  display: none;
  position: absolute;
  right: 0px;
  top: 4px;
  background-color: gray;
  padding: 4px 10px;
}
.options-container button{
  margin: 4px 10px;
}
.inputs-container{
  display: grid;
  margin-left: 10px;
  margin-top: 10px;
}
.inputs-container input{
  width: 200px;
  padding: 4px 2px;
  border-radius: 6px;
}
.inputs-container button{
  margin-top: 16px;
  padding: 4px 10px;
}

.material-options-container{
  display: flex;
}
.material-options-container button{
  padding: 4px 10px;
}


@media (max-width: 600px){
  .options-container{
    display: grid;
    bottom: 40px;  
    /* left: 30px;
    right: 30px; */
  }
  .options-container input{
    margin-left: 22px;
  }
  .down-button{
    display: flex;
  }
  .inputs-container{
    margin-left: -10px;
  }
}

